/* Page Layout */

html,
body {
  height: 100%;
  margin: 0;
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
}

header {
    flex: 0 1 auto;
}

main {
    flex: 1 1 auto;
}

footer {
    flex: 0 1 auto;
}

/* Navigation bar */

#navigation-bar {
    padding: 15px;
    list-style-type: none;
    margin-right: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.navigation-bar-items {
    font: 13px arial, sans-serif;
    margin-left: 17px;
}

#google-apps-logo {
    display: block;
    background-image: url("https://image.flaticon.com/icons/svg/54/54404.svg");
    width: 18px;
    height: 18px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 50%;
}

#google-apps-logo:hover {
    opacity: 100%;
}

#navigation-bar-profile {
    display: block;
    background-image: url("https://avatars3.githubusercontent.com/u/17303783?s=460&u=96ab6db157cbdfd2fd630aa8bf3e3fdbcfc6382c&v=4");
    width: 32px;
    height: 32px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
}

a {
    color: black;
    text-decoration: none;
    font-size: 13px;
    font-family: arial,sans-serif;
    color: rgba(0,0,0,0.87);
}

a:hover 
{
     text-decoration:underline; 
     cursor:pointer;  
}

/* Search Container */

#google-search {
    display: flex;
    flex-direction: column;
    max-width: 582px;
    margin: auto;
    margin-top: 135px;
}

/* Google Logo */

img {
    display:block;
    margin:auto;
}

/* Search Bar */

#search-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 582px;
    background: #fff;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    height: 44px;
    margin-top: 28px;
    margin-bottom: 18px;
}

#search-bar:hover {
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
}

/* Search Icon */ 
svg {
    width: 20px;
    height: 20px;
    fill: #a9a9a9;
    padding: 15px 0px 12px 13px;
}

/* Search Input Field */

#search-input{
    width: 100%;
}

input {
    height: 34px;
    padding: 7px 10px 10px 12px;
    line-height: 34px;
    font: 16px arial, sans-serif;
    width: 100%;
    max-width: 510px;
    border: none;
    outline: none;
    background-color: transparent;
}

/* Search Buttons */

#search-buttons {
    display: inline-block;
    margin: 0 auto;
}

button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    background: #f2f2f2;
    border-top: 1px solid #dadce0;
}

.footer-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40px;
}

.footer-left {
    margin-right: 30px;
}

footer a {
    color: #70757a;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding-left: 27px;
}

@media (max-width: 650px) {
    footer {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
  }